@charset "UTF-8";

section#conteudo{
  width: 1000px;
  margin: auto;
}

iframe#frame-spec{
  width: 410px;
  height: 250px;
  border: none;
  overflow: hidden;
}

/* Remover a barra de rolamento */
iframe#frame-spec::-webkit-scrollbar{
  display: none;
}